body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    box-sizing: border-box;
    background-color: #A5A1A1;
}

p {
    text-align: center;
    color: white;
}

.wholeApp {
    width: 100vw;
    height: 100vh;
    max-width: 360px;
    max-height: 720px;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}